@import "../../scss/variables.scss";

.header {
  padding-top: 30px;
  padding-left: 30px;
  h1 {
    font-size: 50px;
    color: $color_2;
    text-transform: uppercase;
    color: $color_4;
    font-weight: 600;
  }
}
