@import "../../scss/variables.scss";

.sidebar {
  list-style: none;

  li {
    color: $color_3;
    padding: 20px;
    text-transform: uppercase;
    margin: 10px;
    font-size: 30px;
    background-color: $color_5;
    line-height: 40px;
    animation-duration: 0.5s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    transform: translateX(-100vw);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(50px) rotate(3deg);
  }
  100% {
    transform: translateX(0px);
  }
}
